/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
* {
    margin: 0;
    font-family: "Hammersmith One", sans-serif;

}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #000;
    padding: 2rem;
    color: white;
}


section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 0.15em solid #333;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
  display: block;
  margin-bottom: .5em;
  color: black;
}

a {
    color: white;
}

/*
    COLOUR PALETTE -----------------------
*/


.rec {
    padding: 3em;
    width: 6em;
    display: inline-block;
    color:white;
    text-align: center;
    vertical-align: middle;
}

.red_colour {
    background-color: #E54F51;

}

.black_colour{
    background-color: #000;
    border: white 0.1em solid;
}

.white_colour{
    background-color: #fff;
    color: black;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the different buttons */

.button {
    border: none;
    padding: 0.75em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;

}

.productButton {
background-color: #E54F51;
color: #FFF;
text-align: center;
border-radius: 3em;
}

.productButtonSpacer {
margin: auto;
margin-top: 2em;
}

.orderButton {
margin: auto;
margin-top: 2em;
text-align: center;
/*position: absolute;*/
bottom: 2em;
background-color: #FFF;
color: #E54F51;
}


/* 
  TEXT ELEMENTS -------------------
*/

h1 {
    font-size: 3em;
    display: inline;
    color: #FFF;
}
h2 {
    font-size: 2em;
    margin-bottom: 1em;
    margin-top: 1em;
    color: #E54F51;
}

h3 {
    font-size: 1em;
    color: #E54F51;
    margin-top: 1em;
    text-transform: uppercase;

}

h4 {
    font-size: 2em;
    text-transform: uppercase;
    color: #fff;
}

p, form {
    font-family: 'Open Sans', sans-serif;
    color: #FFF;
}

 form{
    font-size: 0.8em;
 }
input {
    margin-left: 1em;
    margin-top: 2em;
}

input [text]{
    width:50%;
}

input [radio]{
    width: 100%;
}


.smaller {
    font-size: 0.75rem;
}

/* Styling for the top navigation bar */

.topNav {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 14vh;
    line-height: 14vh;
    color: #FFF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    text-align: center;

    background-color: #E54F51;
}


.accountIcon {
    position: absolute;
    right: 2em;
    height: 8vh;
    display: inline;
    padding-top: 3vh;
    padding-bottom: 3vh;
}


/* Styling for the main content */


#mainWindow {
    z-index: 997;
    width: 100vw;
    height: 86vh;
    overflow: scroll;
    transition: width 0.5s ease-out;
    padding-top: 52vh;
    background-color: black;
}
.mainWindowDim {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 998;
    width: 100vw;
    height: 86vh;
    transition: width 0.5s ease-out;
    background: rgba(0,0,0,0.6);
}

/* Styling for the padding */

.mainPadding {
    padding: 0 5em 0 5em;
}
.standardPadding {
    padding-left: 14em;
    padding-right: 14em;
}
.morePadding {
    padding-left: 0;
    padding-right: 20em;
    padding-bottom: 1em;
}
.itemPadding {
    padding-top: 0;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 3em;
}

/* Styling for the items */


.foodItem img {
    width: 100%;
}

.drinkItem{
    height: 100%;
}

/* Styling for the shopping cart */


#shoppingCart {
    z-index: 998;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 86vh;
    width: 0;
    border-left: solid;
    border-left-color: #FFF;
    transition: width 0.5s ease-out;
    overflow: hidden;
    background-color: #E54F51;
}

.shoppingCartTitle {
    margin: 1.5em 0 0 0.5em;
    font-size: 2em;
    text-transform: uppercase;
}


.shoppingCartItem,.shoppingCartItemPrice {
    font-size: 0.8em;
    margin: 1em 0 0 1em;
    
}
.arrow {
    position: absolute;
    top: 1em;
    left: 1em;
    width: 1em;
}
.shoppingCartTable {
    display: table;
    width: 72vw;
    margin: 0;
}

/* Styling for the lines */

 .topLine {
    border-top: #fff .1em solid;
 }

 .bottomLine {
    border-bottom: #fff .1em solid;
 }


/* 
  GRID ELEMENTS -------------------
*/

/* General Grid */

.row, 
.column {
    box-sizing: border-box;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.column {
    position: relative;
    float: left;
}

.column + .column {
    margin-left: 1.6%;
}

.column-1 {
    width: 6.86666666667%;
}

.column-2 {
    width: 15.3333333333%;
}

.column-3 {
    width: 23.8%;
}

.column-4 {
    width: 32.2666666667%;
}

.column-5 {
    width: 40.7333333333%;
}

.column-6 {
    width: 49.2%;
}

.column-7 {
    width: 57.6666666667%;
}

.column-8 {
    width: 66.1333333333%;
}

.column-9 {
    width: 74.6%;
}

.column-10 {
    width: 83.0666666667%;
}

.column-11 {
    width: 91.5333333333%;
}

.column-12 {
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .column-1, 
    .column-2, 
    .column-3, 
    .column-4, 
    .column-5, 
    .column-6, 
    .column-7, 
    .column-8, 
    .column-9, 
    .column-10, 
    .column-11, 
    .column-12 {
        width: auto;
        float: none;
    }

    .column + .column {
        margin-left: 0;
    }
}


/* Styling for shopping cart grid */

.shoppingCartRow {
    display: table-row;
    margin: 0;
}
.shoppingCartColumn {
    height: 86vh;
    max-width: 24vw;
    display: table-cell;
    margin: 0;
    padding-left: 1em;
    padding-right: 1em;
}

